.img{
    width: 250px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.description{
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.buttons{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 568px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .container {
        column-gap: 5rem;
    }
    .img {
        width: 400px;
    }
    .description {
        text-align: initial;
    }
    .info {
        justify-content: space-between;
    }
    .buttons {
        justify-content: initial;
    }
}