.tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.item {
    display: flex;
    /* align-items:flex-end; */
    flex-direction: column;
}

.button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
    &hover {
        color: var(--first-color);
    }
    &.active {
        color: var(--first-color);
    }
}

.icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
}

.subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-0-5);
    text-align: center;
}

.calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 15px;

    svg {
        margin-right: 5px;
    }
}

.rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.active[data-content] {
    display: block;
}

.history__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 350px) {
    .data {
        gap: 0.5rem;
    }
}

@media screen and (min-width: 568px) {
    .sections {
        display: grid;
        grid-template-columns: 0.6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .tabs {
        justify-content: center;
    }
    .button {
        margin: 0 var(--mb-1);
    }
    .sections {
        grid-template-columns: 0.5fr;
    }
}
