.container {
    gap: 1rem;
}

.content {
    grid-template-columns: 0.5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.social_icon {
    font-size: 1.25rem;
    color: var(--first-color);
    &:hover {
        color: var(--first-color-alt);
    }
}

.blob {
    width: 200px;
    fill: var(--first-color);
}

.blob_img {
    width: 200px;
    height: 300px;
}

.data {
    grid-column: 2/2;
}

.title {
    font-size: var(--big-font-size);
}

.subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.description {
    margin-bottom: var(--mb-2);
}

.scroll {
    display: none;
}

.scroll_button {
    color: var(--first-color);
    transition: 0.3s;
    &:hover {
        transform: translateY(0.25rem);
    }
}

.scroll_mouse {
    font-size: 2rem;
}

.scroll_name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.scroll_arrow {
    font-size: 1.25rem;
    animation: down 1s infinite;
}

/* MEDIA QUERIES */

@media screen and (max-width: 350px) {
    .content {
        grid-template-columns: 0.25fr 3fr;
    }

    .blob {
        width: 180px;
    }
}

@media screen and (min-width: 568px) {
    .content {
        grid-template-columns: max-content 1fr 1fr;
    }
    .data {
        grid-column: initial;
    }

    .img {
        order: 1;
        justify-self: center;
    }
}

@media screen and (min-width: 768px) {
    .container {
        row-gap: 5rem;
    }

    .content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .blob {
        width: 270px;
    }
    .scroll {
        display: block;
    }
    .scroll-button {
        margin-left: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .blob {
        width: 320px;
    }
    .social {
        transform: translateX(-6rem);
    }
}
