.footer {
    padding-top: 1rem;
    width: 100%;
}

.footer__container {
    row-gap: 2.5rem;
}

.footer__bg {
    background-color: var(--first-color-second);
    padding: 1rem 0 3rem;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
    font-size: var(--small-font-size);
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    .footer__link:hover {
        color: var(--first-color-lighter);
    }
}

.footer__social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
    &:hover {
        color: var(--first-color-lighter);
    }
}

.footer__socials{
    display: flex;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
    color: #fff;
}

@media screen and (max-width: 567px) {
}

@media screen and (min-width: 568px) {
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .footer__container {
        padding: 0 1rem;
    }
    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg {
        padding: 1rem 0 1.5rem;
    }
    .footer__links {
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials {
        justify-self: flex-end;
    }
}

@media screen and (min-width: 1024px) {
    .footer__container {
        padding: 0;
    }
}
