.info_item {
    .info_wrapper {
        display: flex;
        justify-content: center;
    }
    .count {
    }
    .info_title {
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }
    .info_title,
    .info_name {
        display: block;
        text-align: center;
    }
}
