.info_items {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2-5);
}

.info_wrapper {
    display: flex;
    justify-content: center;
}

.info_title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.info_name {
    font-size: var(--smaller-font-size);
}

.info_title,
.info_name {
    display: block;
    text-align: center;
}
